<div class="page-header">
    <h1>Recomendações</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">O pedestre no trânsito</div>
    <div class="panel-body">
        <p><strong>Algumas dicas para sua segurança</strong></p>
    </div>

    <ul class="list-group">
        <li class="list-group-item">Nas estradas, andar sempre em sentido contrário ao dos veículos e em fila única, utilizando obrigatoriamente o acostamento onde existir.</li>
        <li class="list-group-item">Nas vias urbanas, andar sempre à esquerda da rua; e em fila única e em sentido contrário ao dos veículos, onde não houver calçadas ou faixas privativas destinadas ao pedestre.</li>
        <li class="list-group-item">Não cruzar a pista de viadutos, pontes ou túneis, exceto onde exista sinalização permitindo a travessia.</li>
        <li class="list-group-item">Ao descer do ônibus, aguardar no passeio a saída do veículo.</li>
        <li class="list-group-item">Cruzar a via pública somente na faixa própria, obedecendo à sinalização. Quando não houver a faixa, atravessar perpendicularmente às calçadas e na área de seu prolongamento.</li>
        <li class="list-group-item">Não andar fora da faixa de pedestre nos lugares onde ela existir.</li>
        <li class="list-group-item">Não utilizar vias em agrupamento capazes de perturbar o trânsito, ou para a prática de atividades de lazer, esportes, desfiles e similares, sem a devida autorização.</li>
        <li class="list-group-item">Obedecer e respeitar à sinalização de trânsito. Ela existe para a segurança de todos.</li>
        <li class="list-group-item">Recorrer sempre ao guarda de trânsito em caso de necessidade.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Risco de usar o celular no trânsito</div>
    <div class="panel-body">
        <p><strong>Ao volante, toda a atenção tem que estar na direção</strong></p>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">Estudos realizados comprovaram que os reflexos de um motorista falando ao celular se equiparam aos de uma pessoa alcoolizada: não olha o retrovisor; ziguezagueia; reduz a velocidade; avança o sinal.</li>
        <li class="list-group-item">Durante chamadas breves, o tempo de resposta do reflexo é triplicado e o risco de ocorrer uma colisão é quadruplicado.</li>
        <li class="list-group-item">Saia da rodovia (ou via urbana) sempre que precisar falar ao celular</li>
        <li class="list-group-item">Evite conversar no celular mesmo em caso de congestionamento ou sob mau tempo.</li>
        <li class="list-group-item">No tráfego pesado, deixe que as mensagens sejam gravadas na caixa postal.</li>
        <li class="list-group-item">Se for extremamente necessário ligar, peça ao acompanhante para fazer a ligação.</li>
        <li class="list-group-item">Não fale ao celular com o veículo em movimento.</li>
        <li class="list-group-item">Um motorista dirigindo a 50 km/h de velocidade, percorre 14 metros em um segundo. Tempo suficiente para uma tragédia, caso esteja distraído com o telefone.</li>
        <li class="list-group-item">Motoristas, nas vias públicas, sempre estacione em local adequado para atender ou fazer chamadas em celulares.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Seja um motorista consciente</div>
    <div class="panel-body">
        <p><strong>Motorista consciente é motorista prudente</strong></p>
    </div>

    <ul class="list-group">
        <li class="list-group-item">Não entregar a direção do veículo à pessoas sem habilitação ou à menores.</li>
        <li class="list-group-item">Nunca conduzir os veículos com velocidade acima da permitida.</li>
        <li class="list-group-item">Manter distância de segurança do veículo da frente.</li>
        <li class="list-group-item">Aumentar os cuidados quando estiver transitando próximo à escolas ou em ruas residenciais</li>
        <li class="list-group-item">Usar adequadamente as vias, respeitando o espaço de pedestre e do ciclista.</li>
        <li class="list-group-item">Nunca dirigir sob efeito de alimentos pesados, bebidas alcoólicas ou outras substâncias tóxicas. · Respeitar os pedestres e outros usuários da via.</li>
        <li class="list-group-item">Dar preferência ao pedestre, quando ele já tiver dado início à travessia da via.</li>
        <li class="list-group-item">Usar a seta ou braço para indicar as manobras de conversão ou ultrapassagem, mudanças de faixas e entrada e saída de garagens</li>
        <li class="list-group-item">Usar sempre o cinto de segurança.</li>
        <li class="list-group-item">Verificar sempre as condições de veículo, realizando a manutenção necessária.</li>
        <li class="list-group-item">Obedecer rigorosamente à sinalização de trânsito.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Pedestre: atravesse com segurança</div>
    <div class="panel-body">
        <p><strong>Ao atravessar vias públicas, tendo ou não faixa de pedestre, siga as nossas orientações</strong></p>
    </div>

    <ul class="list-group">
        <li class="list-group-item">Atravessar sempre na faixa de pedestre.</li>
        <li class="list-group-item">Antes de iniciar a travessia, olhar em todas as direções e permanecer atento ao movimento dos carros até chegar ao outro lado da rua.</li>
        <li class="list-group-item">Atravessar a rua sempre em linha reta e evitar atravessar em curvas e lombadas, onde a visibilidade não é boa para os motoristas e nem para os pedestres.</li>
        <li class="list-group-item">Nunca passar pelos espaços entre os carros estacionados, quando for atravessar a pista, para não dificultar a visão dos motoristas.</li>
        <li class="list-group-item">As passarelas e as passagens subterrâneas, quando existirem, devem ser utilizadas sempre, devido à segurança que proporcionam.</li>
        <li class="list-group-item">Nas estradas, se existir acostamento, o pedestre é obrigado a utilizá-lo; se não existir, deverá caminhar o mais distante possível da pista e , se estiver em companhia de outras pessoas, caminhar em fila única.</li>
        <li class="list-group-item">Com criança, segurar sempre em seu pulso ao atravessar a rua.</li>
        <li class="list-group-item">Ao descer do ônibus, esperar que o veículo se afaste e aguardar o momento seguro para atravessar.</li>
        <li class="list-group-item">Andar na calçada, sempre afastado da pista e longe dos carros em movimento; onde não houver calçada, caminhar em sentido contrário ao dos veículos.</li>
        <li class="list-group-item">Respeitar a sinalização e, sempre que necessário, procurar a ajuda do guarda de trânsito.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">O fogo queima a vida</div>
    <div class="panel-body">
        <p><strong>Evite as queimadas. Aqui estão alguns fatos interessantes:</strong></p>
        <ul class="list-group">
            <li class="list-group-item">As queimadas ressecam o solo e acabam provocando o surgimento da erosão, que enche de terra os rios e os lagos. O resultado é que muitos cursos d’água chegam a desaparecer.</li>
            <li class="list-group-item">As queimadas provocam a destruição da cobertura vegetal, que amortece a força da chuva através das árvores. Devido a isso, a água carrega a terra fértil para os rios e abre buracos no solo.</li>
            <li class="list-group-item">As queimadas provocam perda de produtividade do solo. Ano a ano, as lavouras passam a produzir menos e as pastagens ficam mais fracas. Quando se queima para plantar, a primeira safra é boa. A partir da segunda, os problemas começam a aparecer.</li>
            <li class="list-group-item">As queimadas provocam maiores despesas para o produtor, já que acaba com a composição do solo. Queimando, o solo passa a exigir grande quantidade de adubo.</li>
            <li class="list-group-item">As queimadas não permitem que a chuva entre no solo. Com isso, deixa de abastecer os lençóis subterrâneos de água, responsáveis pela alimentação de nascentes, rios, cisternas e poços.</li>
            <li class="list-group-item">As queimadas favorecem os ataques de pragas e doenças que causam muitos problemas às plantações.</li>
            <li class="list-group-item">As queimadas acabam com os insetos, as aves e os pequenos animais que fazem parte do ciclo da natureza. A temperatura do solo queimado chega até 650 graus celsius. Não há vida que resista.</li>
        </ul>
    </div>
    
    <div class="panel-body">
        <p><strong>Para plantar, sem queimar, é fácil, basta seguir algumas regras:</strong></p>
        <ul class"list-group">
            <li class="list-group-item">Verificar se o solo é apropriado.</li>
            <li class="list-group-item">Depois, roçar os arbustos e derrubar as árvores pequenas e médias, preservando as árvores maiores. A seguir, picar as árvores derrubadas.</li>
            <li class="list-group-item">Aproveitar a madeira picada, para fazer construções diversas, como casa, cerca, paiol, etc. Com esses cuidados, a terra está pronta para plantar, com muito maior produtividade, por 20 anos ou mais.</li>
        </ul>
    </div>

    <div class="panel-body">
        <p><strong>Principais recomendações para quando ocorrerem queimadas:</strong></p>
        <ul class="list-group">
            <li class="list-group-item">Construir aceiro em torno da área a ser queimada, que deve ter, no mínimo, 03 (três) metros de largura ( essa largura deve ser duplicada nos casos de áreas florestais, de vegetação natural, de preservação permanente e das protegidas pelo Poder Público).</li>
            <li class="list-group-item">Providenciar pessoal treinado, com equipamentos apropriados, para atuar no local da queima, evitando que o fogo passe dos limites estabelecidos. E avisar aos vizinhos a data e a hora de realização da queima.</li>
        </ul>
    </div>
    
</div>

<div class="panel panel-default">
    <div class="panel-heading">Segurança do ciclista</div>
    <div class="panel-body">
        <p><strong>Dicas para um ciclista consciente</strong></p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Ao andar de bicicleta, vá sempre pela direita, próximo ao meio-fio ou acostamento quando não existir ciclovia e no mesmo sentido dos veículos.</li>
        <li class="list-group-item">Manter distância de segurança dos outros veículos.</li>
        <li class="list-group-item">Andar sempre em velocidade compatível com seu veículo.</li>
        <li class="list-group-item">Fazer conversão em lugares adequados.</li>
        <li class="list-group-item">Nunca andar na contramão e nunca agarrar a carroceria de um veículo em movimento.</li>
        <li class="list-group-item">Em um cruzamento, dar preferência para outro veículo que já estiver iniciando a manobra.</li>
        <li class="list-group-item">Respeitar os pedestres e outros usuários da via.</li>
        <li class="list-group-item">Quando em grupo, andar em fila única.</li>
        <li class="list-group-item">Sempre usar equipamentos de segurança como capacete e roupas claras durante a noite e em dias chuvosos para melhor identificação.</li>
        <li class="list-group-item">Equipar a bicicleta com faróis, luz branca dianteira e luz vermelha traseira.</li>
        <li class="list-group-item">Verificar sempre as condições dos freios e dos pneus da bicicleta.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Fique esperto, fique vivo</div>
    <div class="panel-body">
        <p><strong>Antes de pegar no volante, coloque a mão na consciência</strong></p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Não beba antes de dirigir.</li>
        <li class="list-group-item">O álcool afeta a visão, o comportamento e os reflexos do motorista. O limite máximo permitido de álcool no sangue é de 0,6 g por litro de sangue.</li>
        <li class="list-group-item">Tenha sempre os seguintes equipamentos de segurança no carro: extintor de incêndio, triângulo e macaco.</li>
        <li class="list-group-item">Use sempre o cinto de segurança. Ele protege a sua vida, impedindo que seja atirado contra o vidro e sofrendo grandes impactos.</li>
        <li class="list-group-item">Obedeça rigorosamente à sinalização de trânsito.</li>
        <li class="list-group-item">As crianças só devem andar no banco traseiro, com cinto de segurança.</li>
        <li class="list-group-item">Nunca dirija com crianças no colo e não deixe que coloquem mãos, braços e cabeças para fora do carro.</li>
        <li class="list-group-item">Nunca ultrapasse pela direita e mantenha distância dos outros veículos.</li>
        <li class="list-group-item">Faça revisões rotineiras. Os veículos desregulados podem provocar: excesso de fumaça preta e fuligem, aumento do consumo de combustível e desgaste do motor, dificuldade de visibilidade nas estradas e danos à saúde e ao meio ambiente.</li>
    </ul>
    <div class="panel-footer">Dicas do <a href="deral" target="_blank">Departamento de Estradas de Rodagem de Alagoas</a></div>
</div>